@import url("https://fonts.googleapis.com/css2?family=Baloo+2&family=Open+Sans:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo 2", cursive;
  font-family: "Open Sans", sans-serif;
}

.bg-green {
  background-color: #26ca8d;
}
.bg-blue {
  background-color: #4352b5;
}
.bg-black {
  background-color: #26231f;
}
.blue {
  background-color: #4352b5;
}

.black {
  color: #111;
}

.bg-blue {
  background-color: #4352b5;
}

.bg-black {
  background-color: #26231f;
}

.bg-white {
  background-color: white;
}
.bg-lightGray {
  background-color: #f5f5f5;
}
.text-gray {
  color: gray;
}

.text-white {
  color: white;
}
.text-green {
  color: #26ca8d;
}

.width-100 {
  width: 100%;
}
.width-70 {
  width: 70%;
}
.width-50 {
  width: 50%;
}
.width-33 {
  width: 33.33%;
}
.width-25 {
  width: 25%;
}
.font-13 {
  font-size: 13px;
}
.font-12 {
  font-size: 12px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-10 {
  margin-bottom: 10px;
}
.d-flex {
  display: flex;
}
.text-center {
  text-align: center;
}
/* ============================================== */
/* swapnil */
.contact-container {
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
}
.contact-form {
  flex-direction: column;
}
.contact-form .inputs {
  padding: 10px 6px;
  border: none;
  border-radius: 4px;
  width: 94%;
}
.contact-image img {
  height: 355px;
}
.button {
  margin: 10px 0;
  padding: 12px 20px;
  border-radius: 20px;
  width: 30%;
  border: none;
}
.button:hover {
  background-color: rgb(214, 214, 214);
}
.footer-container {
  margin: auto;
  padding: 70px 0;
}
.icon i {
  margin-right: 15px;
}
.box-1 a,
.box-2 a {
  text-decoration: none;
}
.emailInput {
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(58, 58, 58);
}
.emailBtn {
  width: 50% !important;
  background: transparent;
  border: 1px solid white;
  margin: 18px 0 !important;
}