@import url("https://fonts.googleapis.com/css2?family=Baloo+2&family=Open+Sans:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo 2", cursive;
  font-family: "Open Sans", sans-serif;
}

.bg-green {
  background-color: #26ca8d;
}
.bg-blue {
  background-color: #4352b5;
}
.bg-black {
  background-color: #26231f;
}
.blue {
  background-color: #4352b5;
}

.black {
  color: #111;
}

.bg-blue {
  background-color: #4352b5;
}

.bg-black {
  background-color: #26231f;
}

.bg-white {
  background-color: white;
}
.bg-lightGray {
  background-color: #f5f5f5;
}
.text-gray {
  color: gray;
}

.text-white {
  color: white;
}
.text-green {
  color: #26ca8d;
}

.width-100 {
  width: 100%;
}
.width-70 {
  width: 70%;
}
.width-50 {
  width: 50%;
}
.width-33 {
  width: 33.33%;
}
.width-25 {
  width: 25%;
}
.font-13 {
  font-size: 13px;
}
.font-12 {
  font-size: 12px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-10 {
  margin-bottom: 10px;
}
.d-flex {
  display: flex;
}
.text-center {
  text-align: center;
}
/* ============================================== */
/* swapnil */
.contact-container {
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
}
.contact-form {
  flex-direction: column;
}
.contact-form .inputs {
  padding: 10px 6px;
  border: none;
  border-radius: 4px;
  width: 94%;
}
.contact-image img {
  height: 355px;
}
.button {
  margin: 10px 0;
  padding: 12px 20px;
  border-radius: 20px;
  width: 30%;
  border: none;
}
.button:hover {
  background-color: rgb(214, 214, 214);
}
.footer-container {
  margin: auto;
  padding: 70px 0;
}
.icon i {
  margin-right: 15px;
}
.box-1 a,
.box-2 a {
  text-decoration: none;
}
.emailInput {
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(58, 58, 58);
}
.emailBtn {
  width: 50% !important;
  background: transparent;
  border: 1px solid white;
  margin: 18px 0 !important;
}



/*Popular courses(Raj)*/
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.test {
  background-color: red;
}
.content-box {
  padding: 60px 180px;
}
.img-responsive {
  width: 100%;
  height: auto;
}
.txt-center {
  text-align: center;
}
.custom-btn {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 18px;
  border-radius: 2px;
  text-align: center;
  font-size: 12px;
}
.custom-btn-primary {
  background-color: #39cd8f;
  color: #fff;
}
.custom-btn-primary:hover {
  transition: 0.2s ease;
  background-color: #31b17b;
}
.custom-btn-secondary {
  background-color: #4151b3;
  color: #fff;
}
.custom-btn-secondary:hover {
  transition: 0.2s ease;
  background-color: #2c3ca0;
}
#popular-courses {
  width: 100%;
  background-color: #fff;
}
.course-container {
  width: 70%;
  margin: auto;
  padding: 60px 0;
}
.course-container .header {
  margin-bottom: 38px;
}
.course-container .header h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 4px;
}
.course-container .header p {
  color: #939293;
  font-size: 16px;
}
.course-container .course-card-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.course-card-container .course-card img {
  width: 100%;
}
.course-card-container .course-card .card-meta {
  position: relative;
  width: 100%;
  min-height: 200px;
}
.card-bk-img-one,
.card-bk-img-two,
.card-bk-img-three {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.card-bk-img-one {
  background-image: url("images/summer-kids.jpg");
}
.card-bk-img-two {
  background-image: url("images/business-management.jpg");
}
.card-bk-img-three {
  background-image: url("images/social-media-management.jpg");
}
.course-card .card-meta .meta-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.card-meta .meta-info ul li {
  display: inline;
}
.card-meta .meta-info ul {
  position: absolute;
  bottom: 0;
  padding: 0 0 16px 16px;
}
.card-meta .meta-info ul li span {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
  letter-spacing: 1px;
}
.course-card .card-text {
  width: 100%;
  background-color: #f9f9f9;
  padding: 20px 18px 18px 18px;
}
.course-card .card-text h2 {
  color: rgb(71, 71, 71);
  font-size: 18px;
  margin-bottom: 10px;
}
.course-card .card-text p {
  line-height: 1.6;
  color: rgb(133, 133, 133);
  font-size: 13px;
  margin-bottom: 20px;
}
.course-card .card-text .text-top {
  border-bottom: 1px solid rgba(93, 93, 93, 0.08);
  margin-bottom: 10px;
}
.course-card .card-text .text-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-text .text-bottom .author-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-text .text-bottom .author-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.card-text .text-bottom .author-info span {
  color: #111;
  font-size: 14px;
  font-weight: bold;
  padding-left: 8px;
}
/*--------------------------End Course Text--------------------------*/
